<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Hoje é dia de Maldade</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Language" content="pt-br">
	<meta name="google-site-verification" content="gBgQVpCgr9ccXMhoTzKrNJPcexBHd5_kJWQouZOWa2M"/>

	<!-- ICON -->
	<link rel="icon" type="image/png" href="http://emojipedia-us.s3.amazonaws.com/cache/6b/99/6b9974b5e4aa6ed41ffc18fcf8e832ae.png" />

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	      integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	      crossorigin="anonymous">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/style.css">

	<!-- Open Graph data -->
	<meta property="og:title" content="Hoje é dia de maldade!"/>
	<meta property="og:type" content="article"/>
	<meta property="og:url" content="http://www.hojeediademaldade.com.br/{{data.title}}"/>
	<meta property="og:image" content="{{data.img}}"/>
	<meta property="og:description" content="Hoje é dia de maldade, hoje é dia de {{data.title}}"/>
	<meta property="og:site_name" content="Hoje é dia de maldade!"/>

	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-6833277136146980",
			enable_page_level_ads: true
		});
	</script>
</head>

<body>
<!-- FACEBOOK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8&appId=283144822075980";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
				<!--<span class="sr-only">Toggle navigation</span>-->
				<!--<span class="icon-bar"></span>-->
				<!--<span class="icon-bar"></span>-->
				<!--<span class="icon-bar"></span>-->
			<!--</button>-->
			<a class="navbar-brand" href="/">Home</a>
			<a class="navbar-brand" href="/maldades">Maldades</a>
		</div>

	</div><!-- /.container-fluid -->
</nav>
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
	<!--<div class="container">-->
		<!--<div class="navbar-header">-->
			<!--<a class="navbar-brand" href="/">Home</a>-->
			<!--<a class="navbar-brand" href="/maldades">Maldades</a>-->
		<!--</div>-->
	<!--</div>-->
<!--</nav>-->

<div class="container">

	<div class="row main">
		<div class="col-md-12">
			<h1>Hoje é dia de <span class="highlight">maldade!</span></h1>
			<!--<h4>{{online}} maldoso online</h4>-->
		</div>
	</div>

	<div class="row" style="display: none">

		<div class="col-md-4 col-xs-6 col-sm-6">
			<div class="card z-depth-1 card-stats">
				<div class="card-content">
					<h4>{{ totalEvil }}</h4>
					<h5>maldades</h5>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-6 col-sm-6">
			<div class="card z-depth-1 card-stats">
				<div class="card-content">
					<h4>132</h4>
					<h5>compartilhadas</h5>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-xs-12 col-sm-12">
			<div class="card z-depth-1 card-stats">
				<div class="card-content">
					<h4 id="evilsDone">{{ evilsDone }}</h4>
					<h5>maldades feitas</h5>
				</div>
			</div>
		</div>
	</div>

	<div class="row hidden-sm hidden-xs">
		<div class="col-md-12" style="text-align: center">
			<!-- GOOGLE - BEGIN -->
			<!-- leaderboard -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-6833277136146980"
			     data-ad-slot="7537769753"></ins>
			<!-- GOOGLE - END -->
		</div>
	</div>

	<div class="row hidden-md hidden-lg">
		<div class="col-xs-12" style="text-align: center">
			<!-- GOOGLE - BEGIN -->
			<!-- mobile -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:320px;height:100px"
			     data-ad-client="ca-pub-6833277136146980"
			     data-ad-slot="9057555357"></ins>
			<!-- GOOGLE - END -->
		</div>
	</div>

	<div class="row evil-holder card z-depth-2">
		<div class="col-md-12">
			<div class="card-content row">
				<div class="col-md-8">
					<h3>Hoje é dia de </h3><span class="maldade">{{ data.title }}</span>

				</div>
				<div class="col-md-4">
					<img id="maldade-img" src="{{ data.img }}" style="max-width: 280px;" width="100%" height="100%">
				</div>
			</div>
			<div class="clearfix"></div>
			<h5><i class="glyphicon glyphicon-thumbs-up maldadeCount"></i> <span id="sumOfAllEvil" class="maldadeCount">{{ data.count }}</span></h5>

			<div class="card-footer hidden-sm hidden-xs">
				<div class="col-md-6">
					<button type="button" class="btn btn-primary btn-lg" onclick="doEvil('{{ data.friendly_url}}');">Curtir
						<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
					</button>
				</div>
				<div class="col-md-6 text-right">
					<a onclick="nextEvil()" href="/{{newEvil.friendly_url}}">
						<button type="button" class="btn btn-primary btn-lg">Próxima<span
								class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="card-footer hidden-md hidden-lg" style="text-align: center">
				<button type="button" class="btn btn-primary btn-lg btn-block" onclick="doEvil('{{ data.friendly_url}}');">Curtir
					<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
				</button>
				<a onclick="nextEvil()" href="/{{newEvil.friendly_url}}">
					<button type="button" class="btn btn-primary btn-lg btn-block">Próxima<span
							class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="text-align: center">
			<div class="white-bg">
				<div class="fb-comments" data-width="100%" data-href="http://www.hojeediademaldade.com.br" data-numposts="5"></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row footer">
		<div class="col-md-6">
			<a href="/privacidade">Políticas de privacidade</a>
		</div>
		<div class="col-md-6 text-right">
			<a href="https://github.com/matheusmessora/hojeediademaldade" target="_blank">
				<i class="fa fa-github" aria-hidden="true"></i>
			</a>
		</div>
	</div>


</div> <!-- /container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
<script>

	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
		a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-47755345-6', 'auto');
	ga('send', 'pageview');

	var sumOfAllEvil = {{data.count}};
	var totalEvil = {{evilsDone}};

	function nextEvil(){
		var hits = Cookies.get('hits');

		if(hits){
			hits++;
		}else {
			hits = 0;
		}
		Cookies.set('hits', hits);
	}

	function doEvil(friendlyUrl) {
		console.log("POST " + friendlyUrl);

		var xhttp = new XMLHttpRequest();
		xhttp.open("POST", "/" + friendlyUrl, true);
		xhttp.send();

		sumOfAllEvil++;
		totalEvil++;

		var sumOfAllEvilDiv = document.getElementById("sumOfAllEvil");
		var evilsDoneDIv = document.getElementById("evilsDone");
		sumOfAllEvilDiv.style.opacity = 0;
		evilsDoneDIv.style.opacity = 0;

		setTimeout(function () {
			sumOfAllEvilDiv.innerHTML = sumOfAllEvil;
			sumOfAllEvilDiv.style.opacity = 1;

			evilsDoneDIv.innerHTML = totalEvil;
			evilsDoneDIv.style.opacity = 1;
		}, 500);
	}

</script>

</body>
</html>